@import url(./reset.css);
.inner {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  align-content: center;
}

header {
  width: 100%;
  height: 70px;
  background-color: #F38231;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav_menu_mob {
  display: none;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
nav ul li {
  color: #fff;
}
nav .nav_icon {
  gap: 20px;
}

main {
  width: 100%;
  height: calc(100vh - 70px);
}
main ul {
  width: 100%;
  height: 100%;
  position: relative;
}
main ul li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
main ul .s1 {
  z-index: 2;
}
main ul .s1 a {
  width: 100%;
  height: 100%;
  background: url("../images/main1.jpg") no-repeat center/cover;
}
main ul .s2 {
  z-index: 1;
}
main ul .s2 a {
  width: 100%;
  height: 100%;
  background: url("../images/main2.jpg") no-repeat center/cover;
}

.menu_list {
  margin-left: 5%;
  padding: 80px 0;
  display: flex;
  gap: 10%;
}
.menu_list .menu_category li {
  color: #C3C3C3;
  font-weight: bold;
  margin-bottom: 10px;
}
.menu_list .menu_category .select {
  color: #F38231;
}
.menu_list .swiper .coffee_category {
  display: flex;
}
.menu_list .swiper .coffee_category li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.menu_list .swiper .coffee_category li > a {
  width: 60%;
  min-width: 140px;
}
.menu_list .swiper .coffee_category li > a img {
  width: 100%;
  height: 100%;
}
.menu_list .swiper .coffee_category li .wide {
  width: 80%;
  min-width: 180px;
}
.menu_list .swiper .coffee_category li .caption {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.menu_list .swiper .coffee_category li .caption .title .coffee_ko {
  font-size: 17px;
  line-height: 24px;
}
.menu_list .swiper .coffee_category li .caption .title .coffee_en {
  font-size: 15px;
  font-weight: lighter;
  white-space: nowrap;
}
.menu_list .swiper .coffee_category li .caption .blank {
  padding-left: 80px;
}
.store_search {
  width: 100%;
  height: 400px;
  background: url("../images/store.jpg") no-repeat center/cover;
}
.store_search .inner {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.store_search .inner h2 {
  color: #fff;
  font-weight: normal;
  font-size: 30px;
}
.store_search .inner p {
  color: #fff;
  padding-top: 5px;
}
.store_search .inner .store_caption {
  display: flex;
  align-items: center;
  width: 340px;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
}
.store_search .inner .store_caption img {
  display: inline-block;
}
.store_search .inner .store_caption input {
  font-size: 20px;
  color: #fff;
  background: none;
  padding: 10px;
  border: none;
  outline: none;
}

.contents_box {
  margin-top: 10px;
  width: 100%;
  height: 600px;
  display: flex;
  gap: 10px;
}
.contents_box .left_cont {
  width: 55%;
}
.contents_box .left_cont .inner {
  padding-left: 5%;
}
.contents_box .left_cont .inner h2 {
  color: #fff;
  font-weight: normal;
  font-size: 30px;
}
.contents_box .left_cont .inner p {
  color: #fff;
  padding-top: 5px;
}
.contents_box .left_cont .member {
  background: url("../images/memvership.jpg") no-repeat center/cover;
  height: 50%;
}
.contents_box .left_cont .mall {
  margin-top: 10px;
  background: url("../images/mall.jpg") no-repeat center/cover;
  height: 50%;
}
.contents_box .franchise {
  width: 45%;
  height: calc(100% + 10px);
  background-color: #EDEDED;
}
.contents_box .franchise .inner {
  padding-left: 5%;
}
.contents_box .franchise .inner > p {
  color: #F38231;
}
.contents_box .franchise .inner h3 {
  margin-top: 5px;
}
.contents_box .franchise .inner button {
  margin-top: 30px;
}

.more {
  cursor: pointer;
  background-color: transparent;
  width: 250px;
  height: 60px;
  border: 1px solid #1C1C1C;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.news_event {
  width: 90%;
  margin: auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.news_event .cont_left p {
  padding-top: 5px;
}
.news_event .cont_left button {
  margin-top: 30px;
}
.news_event .cont_right {
  width: 60%;
}
.news_event .cont_right ul {
  border-top: 1px solid #1C1C1C;
}
.news_event .cont_right ul li {
  border-bottom: 1px solid #C3C3C3;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer {
  width: 100%;
  height: 335px;
  background-color: #F38231;
}
footer .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: lighter;
}
footer .inner .footer_left > img {
  padding-bottom: 30px;
}
footer .inner .footer_left p {
  color: #fff;
  padding: 3px 0;
}
footer .inner .footer_left .copy {
  font-weight: normal;
}
footer .inner .footer_right {
  text-align: right;
}
footer .inner .footer_right .sns {
  color: #fff;
  display: flex;
  gap: 40px;
  padding-bottom: 30px;
  font-weight: normal;
}
footer .inner .footer_right .cop {
  color: #fff;
}
footer .inner .footer_right .cop a {
  padding: 3px 0;
}

@media (max-width: 640px) {
  nav .nav_menu {
    display: none;
  }
  nav .nav_menu_mob {
    display: block;
  }
  nav .nav_menu_mob p {
    width: 27px;
    height: 15px;
  }
  nav .nav_menu_mob p span {
    display: block;
    background-color: #ffffff;
    width: 27px;
    height: 2px;
    border: 1px;
  }
  nav .nav_menu_mob p span:last-of-type {
    margin-top: 12px;
  }
}