@charset "UTF-8";
@import url(./reset.css);



.inner {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    align-content: center;
}


header {
    width: 100%;
    height: 70px;
    background-color: #F38231;

}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        display: flex;
        align-items: center;
        gap: 40px;


        li {
            color: #fff;

        }
    }

    .nav_icon {
        gap: 20px;
    }
}

main {
    width: 100%;
    height: calc(100vh - 70px);


    ul {
        width: 100%;
        height: 100%;
        position: relative;


        li {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .s1 {
            z-index: 2;

            a {
                width: 100%;
                height: 100%;
                background: url(../../images/main1.jpg)no-repeat center/cover;
            }
        }

        .s2 {
            z-index: 1;

            a {
                width: 100%;
                height: 100%;
                background: url(../../images/main2.jpg)no-repeat center/cover;
            }
        }
    }
}



.menu_list {
    margin-left: 5%;
    padding: 80px 0;
    display: flex;
    gap: 10%;

    .menu_category {
        li {
            color: #C3C3C3;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .select {
            color: #F38231;
        }
    }

    .swiper {
        .coffee_category {
            display: flex;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;

                >a {
                    width: 60%;
                    min-width: 140px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .wide {
                    width: 80%;
                    min-width: 180px;

                }

                .caption {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 30px;

                    .title {
                        .coffee_ko {
                            font-size: 17px;
                            line-height: 24px;
                        }

                        .coffee_en {
                            font-size: 15px;
                            font-weight: lighter;

                        }
                    }

                    .blank {
                        padding-left: 80px;
                    }

                    >a {
                        >img {}
                    }
                }
            }
        }
    }
}

.store_search {
    width: 100%;
    height: 400px;
    background: url(../../images/store.jpg) no-repeat center/cover;

    .inner {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        h2 {
            color: #fff;
            font-weight: normal;
            font-size: 40px;
        }

        p {
            color: #fff;
            padding-top: 5px;

        }

        .store_caption {
            display: flex;
            align-items: center;
            width: 340px;
            border-bottom: 1px solid #fff;
            margin-top: 20px;

            img {
                display: inline-block;
            }

            input {
                font-size: 20px;
                color: #fff;
                background: none;
                padding: 10px;
                border: none;
                outline: none;
            }

        }
    }



}